@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Задача С1</p>
    <p><b>Умова:</b><p>
     <p> Розробити систему, використовуючи MVC-підхід (в моделі 3+
сутностей зі зв’язками, одне з полів має бути типу файл (посилання) +
реалізувати CRUD).</p>
</div>
